h1 {
    text-shadow: 2px 2px 20px #0000ff ;
}

p {
    font-size: 30px;
    color: #008000;
    text-align: justify;
    font-weight: bold;
    font-style: italic;
    /*font-variant: small-caps;*/
    text-transform: capitalize;
    text-indent: 50px;
    word-spacing: 20px;
    line-height: 50px;
}

a {
    text-decoration: line-through;
    letter-spacing: 20px;
}