

.container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    
    height: 600px;
    background: silver;
}

.caixa {
    width: 100px;
    height: 100px;
}

.red {
    flex-grow: 2;
    align-self: center;
    background-color: red;
}

.blue {
    flex-grow: 3;
    align-self: flex-end;
    background-color: blue;
}

.yellow {
   
    background-color: yellow;
}

.green {
    align-self: center;
    background-color: green;
}