* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: sans-serif;
}

.header {
   background-color: grey;
   text-align: center;
   padding: 50px ;
   font-size: 40px;
}

.container {
    display: flex;
}

.nav-bar {
    width: 30%;
    background: #d3d3d3;
    padding: 30px;
    text-decoration: none;
}

.nav-bar ul {
    list-style: none; 
}

.nav-bar ul li a{
    text-decoration: none;
}

.content {
    background: #eee8e8;
    padding: 30px;
}

.content iframe {
    margin-top: 20px;
    margin-left: 40vh;
}


.content img {
    margin-top: 20px;
    margin-left: 50vh;
    width: 300px;
}

.content h1 {
    color: black;
}

.content p {
    margin-bottom: 5px;
}

.footer {
    background: grey;
    text-align: center;
    padding: 20px 0;
    text-decoration-line: none;
}