* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-flow: row wrap-reverse;

    
    background: silver;
}

.caixa {
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}